body {
    background-color: navy;
    display: flex;
    justify-content: center;
}

div.boxform {
    margin-top: 150px;
    align-self: center;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    /* padding: 20px; Added padding for better visual balance */
    

}


div.formManager {
    display: flex;
    position: absolute;
    /* background-color: red; */
    left: 60px;
    width: 90%;
    visibility: hidden; 
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


input[type="text"] , input[type="password"] {
    border-radius: 3px;
    outline: none;
    border: 1px solid navy;
    width: 30%;
    padding: 0 10px;
    height: 1.7rem;
    margin-top: 25px;
}

input:hover {
    box-shadow: 3px 3px 10px navy;


}

input[type="submit"] {
    margin-top: 300px;
    margin-left: 20px;
    width: 90%;
    height: 2rem;
    background-color: navy;
    color: whitesmoke;
    font-family: cursive;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

input[type="submit"]:hover {
    background-color: #4747d7;

}

.switch {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

button {
    text-align: center;
    width: 240px;
    height: 40px;
    background-color: navy;
    color: aliceblue;
    border-radius: 5px;
}



.switch button:hover {
    background-color: #4747d7;

}

.signin:hover .formManager {
    visibility: visible;
}

.signup:hover .formManager {
    visibility: visible;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

button.signup:active {
    background-color: yellow;
}


.formManager:hover .signup> button {
    background-color: red;
}

/* input:focus::placeholder{
    display: ;
} */


